* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selected {
  color: #0282f9;
}

nav .selected {
  border-bottom: 1px solid #0282f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 60%;
  margin: auto;
}
header img {
  width: 60px;
}

nav ul {
  display: flex;
  margin-left: 20px;
  list-style-type: none;
  gap: 30px;
  cursor: pointer;
  padding: 40px;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
nav li {
  font-size: 14px;
  color: black;
}

.jumbo {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}

.bg {
  background-color: #303030;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 40px;
  align-items: center;
}
nav ul li {
  font-size: 14px;
  color: #0282f9;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

img {
  width: 20px;
}

button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border: 2px solid #0282f9;
  padding: 10px;
  background-color: #303030;
}

img {
  padding-left: 10px;
  width: 40px;
}

.footer {
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  height: 430px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.footer section {
  float: left;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.width {
  width: 60%;
  margin: auto;
  background-image: url(/img/dc-logo-bg.png);
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
}

section ul li {
  cursor: pointer;
  color: gray;
  margin-bottom: 7px;
}

h2 {
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.containera {
  background-color: #1c1c1c;
  display: flex;
  margin-top: -4px;
}

.containera ul li {
  vertical-align: top;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.widtha {
  width: 60%;
  margin: auto;
}

.img3 {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}

span {
  padding-top: 10px;
}

.center3 {
  text-align: center;
}

button {
  color: white;
  background-color: #0282f9;
  padding: 8px 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.text {
  color: white;
  background-color: #0282f9;
  padding: 10px 20px;
  margin-top: -5px;
  position: relative;
  display: inline;
  top: -10px;
}