

.footer{
    background-image: url(/img/footer-bg.jpg);
    background-repeat: no-repeat;
    height: 430px;
    background-position: center;
    background-size: cover;
    width: 100%;
    
section{
    float: left;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
}
.width{
    width: 60%;
    margin: auto;
    background-image: url(/img/dc-logo-bg.png);
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
}
section ul li {
    cursor: pointer;
    color: gray;
    margin-bottom: 7px;
}
h2{
    font-weight: bold;
    color: $dcwhite;
    margin-bottom: 20px;
}